<p>
  dog-form works!
</p>
<form [formGroup]="dogForm">
        <label>
        Breed:
        <select formControlName="bomba">
            <option *ngFor="let dogBreed of dogBreeds" [value]="dogBreed">{{dogBreed.breed}}</option>
        </select>      
 

    </label>

<!-- 
    <label *ngIf="dogForm.get('breed').valid &&  dogForm.get('breed').value?.subbreed.length > 0 ">
     Sub breed:
      <select formControlName="subbreed">
          <option *ngFor="let subreed of dogForm.get('breed')" [value]="subbreed">{{subreed}}</option>
      </select>      
    </label> -->
  
  </form>